@{
    ViewBag.Title = "О Банке";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p style="text-align:justify;">
        &laquo;Eastern Bank&raquo; (Акционерное общество)&nbsp;&mdash; один из&nbsp;крупнейших универсальных финансовых институтов России, предоставляющий широкий спектр банковских, финансовых, 
        инвестиционных продуктов и&nbsp;услуг корпоративным и&nbsp;частным клиентам, финансовым институтам, институциональным и&nbsp;частным инвесторам. 
        Банк входит в&nbsp;тройку крупнейших банков России по&nbsp;всем основным показателям и&nbsp;занимает третье место в&nbsp;списке банков Центральной и&nbsp;Юго-Восточной Азии по&nbsp;размеру собственного капитала.
        Банк обслуживает ключевые отрасли российской экономики&nbsp;&mdash; газовую, нефтяную, атомную, химическую и&nbsp;нефтехимическую, черную и&nbsp;цветную металлургию, электроэнергетику, машиностроение и&nbsp;металлообработку, 
        транспорт, строительство, связь, агропромышленный комплекс, торговлю и&nbsp;другие отрасли.
        Розничный бизнес также является стратегически важным направлением деятельности Банка, и&nbsp;его масштабы последовательно увеличиваются. Частным клиентам предлагается полный набор услуг: 
        кредитные программы, депозиты, расчетные операции, электронные банковские карты и&nbsp;др.
        Eastern Bank занимает сильные позиции на&nbsp;отечественном и&nbsp;международном финансовых рынках, являясь одним из&nbsp;российских лидеров по&nbsp;организации и&nbsp;андеррайтингу выпусков корпоративных облигаций, 
        управлению активами, в&nbsp;сфере частного банковского обслуживания, корпоративного финансирования и&nbsp;других областях инвестиционного банкинга.
        В&nbsp;числе клиентов Eastern Bank&nbsp;&mdash; около 4&nbsp;миллионов физических и&nbsp;порядка 45&nbsp;тысяч юридических лиц.
        В&nbsp;настоящее время Eastern Bank участвует в&nbsp;капитале банков, расположенных в&nbsp;России, Республике Беларусь, Швейцарии и&nbsp;Люксембурге, финансовых компаний на&nbsp;Кипре и&nbsp;в&nbsp;Гонконге, 
        имеет представительства в&nbsp;Нур-Султане (бывшая Астана) (Казахстан), Пекине (Китай), Улан-Баторе (Монголия) и&nbsp;Нью-Дели (Индия).
        В&nbsp;России региональная сеть Eastern Bank представлена 20&nbsp;филиалами, расположенными от&nbsp;Калининграда до&nbsp;Южно-Сахалинска. Общее число офисов, предоставляющих высококачественные банковские услуги, превышает 350.
        Eastern Bank является членом Российского национального комитета Международной торговой палаты.
    </p>
</div>