
@{
    ViewBag.Title = "Для бизнеса";
}

<div class="container-fluid body-content">
    <div class="order-button">
        <a href="#">
            ОФОРМИТЬ
            <i class="icon-right-open"></i>
        </a>
    </div>
    <div class="girl-and-button"></div>

    <nav class="menu-links">
        <ul>
            <li>
                <div class="icon-and-caption">
                    <a href="#" id="paycash">
                        <div class="pic"></div>
                        <p>Расчётно-кассовое обслуживание</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="icon-and-caption">
                    <a href="#" id="credits">
                        <div class="pic"></div>
                        <p>Кредиты для бизнеса</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="icon-and-caption">
                    <a href="#" id="deposits">
                        <div class="pic"></div>
                        <p>Депозиты</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="icon-and-caption">
                    <a href="#" id="payrolls">
                        <div class="pic"></div>
                        <p>Зарплатные проекты</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="icon-and-caption">
                    <a href="#" id="services">
                        <div class="pic"></div>
                        <p>Сервисы для бизнеса</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="icon-and-caption">
                    <a href="#" id="enquiring">
                        <div class="pic"></div>
                        <p>Эквайринг</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="icon-and-caption">
                    <a href="#" id="additional">
                        <div class="pic"></div>
                        <p>Дополнительно</p>
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="guaranty">
        <h1>Банковские гарантии</h1>
        <p>
            Оформление банковских гарантий на&nbsp;обеспечение участия в&nbsp;конкурсе, возврата аванса,
            исполнения контракта (по&nbsp;44-ФЗ, 223-ФЗ и&nbsp;185-ФЗ), а&nbsp;также гарантий в&nbsp;рамках
            коммерческих контрактов с&nbsp;возможностью дистанционного подписания документов.
        </p>
    </div>

    <div class="calc-guarantees-button">
        <a href="#">
            КАЛЬКУЛЯТОР БАНКОВСКИХ ГАРАНТИЙ
            <i class="icon-right-open"></i>
        </a>
    </div>

    <div class="guaranty">
        <h3><a href="#">Получить кредит просто!</a></h3>
        <p style="color:initial;font-size:initial;">
            Подробную информацию о&nbsp;кредитных продуктах ПАО
            КБ&nbsp;&laquo;Eastern Bank&raquo;, условиях и&nbsp;документах, необходимых для
            получения кредита, вы&nbsp;можете получить в&nbsp;отделениях Банка, обслуживающих юридических лиц
            и&nbsp;индивидуальных
            предпринимателей. Узнайте режим работы ближайшего <a href="#">отделения</a>.
        </p>
    </div>

    <div class="yandex_map">
        <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A95a4a2867bd66f02f3f335b2a5a17f134d68bff9d1b09e0210671d1ad3be0684&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true">
        </script>
    </div>

    <nav class="top-of-footer">
        <ul class="nav navbar-nav">
            <li><a href="#"><img src="~/img/tariffs.svg" alt="Tariffs"> Тарифы </a></li>
            <li><a href="#"><img src="~/img/tariffs.svg" alt="Tariffs"> Тарифы </a></li>
            <li><a href="#"><img src="~/img/documents.svg" alt="Documents"> Документы </a></li>
            <li><a href="#"><img src="~/img/actions.svg" alt="Actions"> Акции и бонусы </a></li>
            <li><a href="#"><img src="~/img/details.svg" alt="Details"> Реквизиты </a></li>
            <li><a href="#"><img src="~/img/samples.svg" alt="Samples"> Образцы заявлений </a></li>
        </ul>
    </nav>
</div>

