@{
    ViewBag.Title = "Главная";
}

<div class="container" style="height:300px;">
    <h1>Добро пожаловать в Easter Bank!</h1>
    <h4>Клиентам у нас всегда рады.</h4>
    <h4>Особые предложения для малого и среднего бизнеса @Html.ActionLink("смотрите здесь: ", "ForBusiness", "Home")</h4>
</div>